.hero{
    background-color: var(--black);
    
    
    position: relative;
    z-index: 10;
    padding: 30px 30px 0;
    
}
.img__container{
    position: relative;
    z-index: 6;
    overflow: visible;
    height: 88vh;
    
}
.imgagen{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 6;
    overflow: hidden;
    padding-top: 20vh;
    padding-right: 22%;
    padding-left: 22%;
    background-color: var(--baseBlack);
}
.phone__img{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.content{
    position: relative;
    z-index: 3;
    margin-top: -100vh;
    background-color: var(--baseBlack);
}
.content__container{
     height: 200vh; 
}
.content__intro{
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   height: 100vh; 
   background-color: var(--baseBlack);
}
.intro__title{
    
    font-size: 12rem;
     color: var(--baseWhite);
     letter-spacing: 1px;
     text-align: center;
     
}

.intro__paragraph{
    margin-top: 4px;
    margin-bottom: 12px;
    font-size:3rem;
    text-align: center;
    color: var(--baseGrey);
}
.intro__price{
    font-size: 2.4rem;
    color: var(--baseGrey);
}
.intro__button{
    margin-top: 24px;
    
    width: 35%;
    
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 32px;
    padding: 12px;
}
.intro__button a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 2px;
}
.intro__button a:hover{
    text-decoration: underline;
    transition: all 10ms;
}
/* @media queris */

@media (max-width:991px) {
    .hero{
        display: block;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .intro__title{
        font-size:8rem ;
    }
    .intro__paragraph{
        font-size: 3rem;
    }
    .intro__button{
        width: 100%;
     }
     .intro__button a{
        font-size: 3rem;
     }
}




@media (max-width:479px) {
    .hero{
        display: block;
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .intro__title{
        font-size:6rem ;
    }
    .intro__paragraph{
        font-size: 2rem;
    }
     .intro__price{
        font-size: 1.4rem;
     }
     .intro__button{
        width: 100%;
     }
     .intro__button a{
        font-size: 1.4rem;
     }
}